<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/common.css" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            type="text/javascript"></script>
    <script src="https://unpkg.com/popper.js" type="text/javascript"></script>
    <script src="https://unpkg.com/tooltip.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>BuildStats</title>
</head>
<body>
<div class="container-fluid" id="builds-page-main-container" style="width: 90%; margin: 20px 5% 5px;">
    <div id="alert-placeholder">

    </div>
    <div class="row">
        <div class="col-md-1">
            <a href="/repo/all">
                <img alt="Back"
                     class="hover-item"
                     src="https://drive.google.com/uc?export=view&id=1XHyIq5TV91p-hl-c3oyP6OaF_1MfBPI0"
                     style="width: 64px; height: 64px;">
            </a>
        </div>
        <div class="col-md">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-12">
                        <div class="card" style="font-size: 16px; margin: 5px">
                            <div class="card-header" id="repo-info-header">
                            </div>
                            <div class="row g-0">
                                <div class="card-body">
                                    <h4 class="card-title" id="repo-name"></h4>
                                    <h5 class="card-text" id="repo-description"></h5>
                                    <h7 class="card-text" id="repo-token"></h7>

                                    <div class="btn-group" role="group" style="margin-top: 2%">
                                        <button class="btn btn-primary" id="generate-token-btn" type="button">Generate
                                            token
                                        </button>
                                        <button class="btn btn-warning" id="ntf-settings-btn" type="button">Settings
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Builds</h5>
                            <div class="container" id="all-build-container-filter">
                                <div class="input-group mb-3"
                                     style="width: 98%; margin: 10px 1% 10px; font-size: 16px;">
                                    <label class="input-group-text" for="status-filter"
                                           style="width: 90px">Status</label>
                                    <select class="form-select" id="status-filter">
                                        <option value="select">Select status...</option>
                                        <option value="IN_PROGRESS">IN_PROGRESS</option>
                                        <option value="SUCCESS">SUCCESS</option>
                                        <option value="FAILURE">FAILURE</option>
                                        <option value="APP_ERROR">APP_ERROR</option>
                                        <option value="TIMEOUT">TIMEOUT</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3"
                                     style="width: 98%; margin: 10px 1% 10px; font-size: 16px;">
                                    <label class="input-group-text" for="tag-filter" style="width: 90px">Tag</label>
                                    <select class="form-select" id="tag-filter">
                                        <option value="select">Select tag...</option>
                                    </select>
                                </div>
                                <div class="input-group" style="width: 98%; margin: 10px 1% 10px; font-size: 16px;">
                                    <span class="input-group-text"
                                          id="addon-wrapping-before" style="width: 90px">Before</span>
                                    <input aria-describedby="addon-wrapping-name"
                                           class="form-control"
                                           id="build-started-before-filter"
                                           type="datetime-local">
                                </div>
                                <div class="input-group" style="width: 98%; margin: 10px 1% 10px; font-size: 16px;">
                                    <span class="input-group-text" id="addon-wrapping-after"
                                          style="width: 90px">After</span>
                                    <input aria-describedby="addon-wrapping-name"
                                           class="form-control"
                                           id="build-started-after-filter"
                                           type="datetime-local">
                                </div>

                                <button class="btn btn-primary" id="build-filter-apply" style="margin-left:1%;"
                                        type="button">Apply filter
                                </button>
                            </div>
                            <div class="container" id="all-build-container"></div>
                            <div class="container" id="all-build-container-pages">
                                <nav>
                                    <ul class="pagination" id="all-build-container-page-block"
                                        style="width: 20%; margin: 2px 45% 5px 35%; font-size: 12px; text-align: center;"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <div class="col-md">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Contributors</h5>
                            <div class="card-body">
                                <ul class="list-group scrollable-list" id="contributors-list"
                                    style="height: 100px;">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="row" style="height: 25px;">
                                    <div class="col-8">
                                        <h5>Tags</h5>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-success"
                                                id="add-tag-btn"
                                                style="padding: 2px; margin-left: 60%">Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group scrollable-list" id="tags-list" style="max-height: 100px;">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="row" style="height: 25px;">
                                    <div class="col-8">
                                        <h5>Stages</h5>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-success"
                                                id="add-stage-btn"
                                                style="padding: 2px; margin-left: 60%">Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group scrollable-list" id="stages-list" style="max-height: 100px;">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Stats</h5>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="">Average, ms</th>
                                        <th scope="col">Max, ms</th>
                                        <th scope="col">Min, ms</th>
                                        <th scope="col">Total builds</th>
                                        <th scope="col">Failed builds</th>
                                    </tr>
                                    </thead>
                                    <tbody id="stats-table-body">

                                    </tbody>
                                </table>
                                <div class="list-group" id="plots-list">
                                    <div>
                                        <canvas id="bar-chart"></canvas>
                                    </div>
                                    <div class="row">
                                        <div class="col-6" style="height: 260px; width: 260px;">
                                            <b>Builds grouped by status</b>
                                            <canvas id="pie-chart"></canvas>
                                        </div>
                                        <div class="col-6" style="height: 260px; width: 260px;">
                                            <b>Builds grouped by tags</b>
                                            <canvas id="polar-chart"></canvas>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Ntf settings modal -->
    <div aria-hidden="true" class="modal fade" id="ntf-settings-modal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Notifications settings</b></h5>
                    <button aria-label="Close" class="btn-close" data-dismiss="modal" id="close-ntf-settings-btn"
                            type="button"></button>
                </div>
                <div class="modal-body">
                    <b>Perform notifications on: </b>
                    <div class="form-check">
                        <input class="form-check-input" id="notify-on-start-checkbox" type="checkbox" value="">
                        <label class="form-check-label" for="notify-on-start-checkbox">
                            Start
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="notify-on-failure-checkbox" type="checkbox" value="">
                        <label class="form-check-label" for="notify-on-failure-checkbox">
                            Failure
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="notify-on-success-checkbox" type="checkbox" value="">
                        <label class="form-check-label" for="notify-on-success-checkbox">
                            Success
                        </label>
                    </div>
                    <b>Preferred notification method: </b>
                    <div id="pref-ntf-types">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            id="upd-ntf-config-btn"
                            type="button">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add tag modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="add-tag-modal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Add tag</b></h5>
                    <button aria-label="Close" class="btn-close" data-dismiss="modal" id="close-add-tag-btn"
                            type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-bottom: 1%">
                        <span class="input-group-text" style="width: 110px">Name</span>
                        <input aria-label="Name" class="form-control" id="add-tag-name" type="text">
                    </div>
                    <div class="input-group" style="margin-bottom: 1%">
                        <span class="input-group-text" style="width: 110px">Code</span>
                        <input aria-label="Code" class="form-control" id="add-tag-code" type="text">
                    </div>
                    <div class="input-group" style="margin-bottom: 1%">
                        <span class="input-group-text" style="width: 110px">Description</span>
                        <input aria-label="Description" class="form-control" id="add-tag-description" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            id="create-tag-btn"
                            type="button">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add stage modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="add-stage-modal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Add stage</b></h5>
                    <button aria-label="Close" class="btn-close" data-dismiss="modal" id="close-add-stage-btn"
                            type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-bottom: 1%">
                        <span class="input-group-text" style="width: 110px">Name</span>
                        <input aria-label="Name" class="form-control" id="add-stage-name" type="text">
                    </div>
                    <div class="input-group" style="margin-bottom: 1%">
                        <span class="input-group-text" style="width: 110px">Code</span>
                        <input aria-label="Code" class="form-control" id="add-stage-code" type="text">
                    </div>
                    <div class="input-group" style="margin-bottom: 1%">
                        <span class="input-group-text" style="width: 110px">Description</span>
                        <input aria-label="Description" class="form-control" id="add-stage-description" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            id="create-stage-btn"
                            type="button">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">
    let repoData = [[${repo}]]
    let token = [[${token}]]
    let ntfTypes = [[${ntfTypes}]]
    let ntfPrefs = [[${ntfPrefsConfig}]]
    let user = [[${user}]]
    let ntfPrefsConfig = null
    if (ntfPrefs) {
        ntfPrefsConfig = ntfPrefs.config
    }
    let contributors = [[${contributors}]]
    let tags = [[${tags}]]
    let stages = [[${stages}]]
    let stats = [[${stats}]]
    let lastFiveBuilds = [[${lastFiveBuilds}]]
    let buildsByStatus = [[${buildsByStatus}]]
    let buildsByTag = [[${buildsByTag}]]
    let nextPageAvailable = true
    const START_PAGE = 1
    const PAGE_SIZE = 1
    let curBuilds = []

    $('#repo-info-header').append(`
        <a href="https://github.com/${repoData.name}">
                                       <b>Link to repository on GitHub</b>
        </a>`
    );
    $('#repo-name').text(repoData.name)
    $('#repo-description').html(`
        <b>Description:</b> ${repoData.description}
    `)
    $('#repo-token').html(`
        <b>Token:</b> ${token}
    `)
    $('#ntf-settings-btn').click(
        function () {
            $('#ntf-settings-modal').modal('show')
        }
    );
    $('#close-ntf-settings-btn').click(function () {
        $('#ntf-settings-modal').modal('hide')
    });

    for (let i = 0; i < ntfTypes.length; i++) {
        $('#pref-ntf-types').append(`
            <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="ntf-type-${i}">
            <label class="form-check-label" data-toggle="tooltip" data-placement="right" title="${ntfTypes[i].description}" for="ntf-type-${i}">
                ${ntfTypes[i].type}
            </label>
            </div>
        `)

        if (ntfPrefsConfig && ntfPrefsConfig.preferredNtfTypeId && ntfPrefsConfig.preferredNtfTypeId == ntfTypes[i].id) {
            $('#ntf-type-' + i).prop("checked", true)
        } else {
            $('#ntf-type-' + i).prop("checked", false)
        }
    }

    if (ntfPrefsConfig) {
        $("#notify-on-start-checkbox").prop("checked", ntfPrefsConfig.notifyOnStart)
        $("#notify-on-failure-checkbox").prop("checked", ntfPrefsConfig.notifyOnFailure)
        $("#notify-on-success-checkbox").prop("checked", ntfPrefsConfig.notifyOnSuccess)
    } else {
        $("#notify-on-start-checkbox").prop("checked", false)
        $("#notify-on-failure-checkbox").prop("checked", false)
        $("#notify-on-success-checkbox").prop("checked", false)
    }

    $('#upd-ntf-config-btn').click(function () {
        let config = {
            notifyOnStart: $("#notify-on-start-checkbox").prop("checked"),
            notifyOnFailure: $("#notify-on-failure-checkbox").prop("checked"),
            notifyOnSuccess: $("#notify-on-success-checkbox").prop("checked"),
            preferredNtfTypeId: null
        };

        for (let i = 0; i < ntfTypes.length; i++) {
            if ($("#ntf-type-" + i).prop("checked")) {
                config.preferredNtfTypeId = ntfTypes[i].id
                break
            }
        }

        if (ntfPrefs) {
            $.ajax({
                url: 'http://localhost:8083/build/ntf/api/update/' + ntfPrefs.id,
                type: 'PUT',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(config),
                success: function () {
                    $('#ntf-settings-modal').modal('hide');
                    showAlert("Notifications setting was updated successfully!!!", "alert-success");
                },
                error: function () {
                    $('#ntf-settings-modal').modal('hide');
                    showAlert("Something went wrong!!!", "alert-danger");
                }
            });
        } else {
            ntfPrefs = {
                userId: user.id,
                repositoryId: repoData.id
            }

            $.ajax({
                url: 'http://localhost:8083/build/ntf/api/create',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(ntfPrefs),
                success: (data) => {
                    $.ajax({
                        url: 'http://localhost:8083/build/ntf/api/update/' + data.id,
                        type: 'PUT',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(config),
                        success: (data) => {
                            $('#ntf-settings-modal').modal('hide')
                            showAlert("Notifications setting was updated successfully!!!", "alert-success")
                        },
                        error: function () {
                            $('#ntf-settings-modal').modal('hide')
                            showAlert("Something went wrong!!!", "alert-danger")
                        }
                    });
                },
                error: function () {
                    $('#ntf-settings-modal').modal('hide')
                    showAlert("Something went wrong!!!", "alert-danger")
                }
            });
        }
    })

    for (let i = 0; i < contributors.length; i++) {
        $('#contributors-list').append(
            `<li>
                  <b>${contributors[i]}</b>
             </li>`
        )
    }

    $('#generate-token-btn').click(function () {
        $.ajax({
            url: 'http://localhost:8083/build/api/generateToken/' + repoData.id,
            type: 'GET',
            success: function () {
                location.reload()
            },
            error: function () {
                $('#ntf-settings-modal').modal('hide')
                showAlert("Something went wrong!!!", "alert-danger")
            }
        });
    })

    if (tags) {
        for (let i = 0; i < tags.length; i++) {
            $('#tags-list').append(`
             <li>
                  <b data-toggle="tooltip" data-placement="right" title="${tags[i].description}">${tags[i].name} - ${tags[i].code}</b>
             </li>
            `)
            $('#tag-filter').append(`
            <option value="${tags[i].code}">${tags[i].name}</option>
            `)
        }
    }

    if (stages) {
        for (let i = 0; i < stages.length; i++) {
            $('#stages-list').append(`
             <li>
                  <b data-toggle="tooltip" data-placement="right" title="${stages[i].description}">${stages[i].name} - ${stages[i].code}</b>
             </li>
            `)
        }
    }

    $('#add-tag-btn').click(function () {
            $('#add-tag-modal').modal('show')
        }
    );

    $('#close-add-tag-btn').click(function () {
        $('#add-tag-modal').modal('hide')
    });

    $('#create-tag-btn').click(function () {
        let tag = {
            repositoryId: repoData.id,
            code: $('#add-tag-code').val(),
            name: $('#add-tag-name').val(),
            description: $('#add-tag-description').val()
        }

        $.ajax({
            url: 'http://localhost:8083/tag/api/create',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(tag),
            success: (data) => {
                location.reload()
            },
            error: function () {
                $('#ntf-settings-modal').modal('hide')
                showAlert("Something went wrong!!!", "alert-danger")
            }
        });
    })

    $('#add-stage-btn').click(function () {
            $('#add-stage-modal').modal('show')
        }
    );

    $('#close-add-stage-btn').click(function () {
        $('#add-stage-modal').modal('hide')
    });

    $('#create-stage-btn').click(function () {
        let stage = {
            repositoryId: repoData.id,
            code: $('#add-stage-code').val(),
            name: $('#add-stage-name').val(),
            description: $('#add-stage-description').val()
        }

        $.ajax({
            url: 'http://localhost:8083/stage/api/create',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(stage),
            success: (data) => {
                location.reload()
            },
            error: function () {
                $('#ntf-settings-modal').modal('hide')
                showAlert("Something went wrong!!!", "alert-danger")
            }
        });
    })

    $('#stats-table-body').html(
        `<tr>
            <th scope="row">${stats.averageBuildTime}</th>
            <td>${stats.maxBuildTime}</td>
            <td>${stats.minBuildTime}</td>
            <td>${stats.totalBuildsNum}</td>
            <td>${stats.failedBuildsNum}</td>
         </tr>`
    )

    let labelsForChartPlot = []
    let preDataForChartPlot = []


    console.log(lastFiveBuilds)
    for (let i = 0; i < lastFiveBuilds.length; i++) {
        labelsForChartPlot.push(lastFiveBuilds[i].name)
        preDataForChartPlot.push((Date.parse(lastFiveBuilds[i].finished) - Date.parse(lastFiveBuilds[i].started)) / 1000)
    }
    console.log(preDataForChartPlot)

    const dataForChartPlot = {
        labels: labelsForChartPlot,
        datasets: [{
            label: 'Last 5 build times, sec',
            data: preDataForChartPlot,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)'
            ],
            borderWidth: 1
        }]
    };

    const barChartConfig = {
        type: 'bar',
        data: dataForChartPlot,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    };

    let barChart = new Chart(
        document.getElementById('bar-chart'),
        barChartConfig
    );

    let dataSetForPieChart = []

    for (let i in buildsByStatus) {
        dataSetForPieChart.push(buildsByStatus[i].length)
    }

    let keys = []

    for (let k in buildsByStatus) keys.push(k)


    const dataForPieChart = {
        labels: keys,
        datasets: [{
            label: 'Build statuses',
            data: dataSetForPieChart,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(150, 100, 80)'
            ],
            hoverOffset: 4
        }]
    };

    const configForPieChart = {
        type: 'pie',
        data: dataForPieChart,
    };

    let pieChart = new Chart(
        document.getElementById('pie-chart'),
        configForPieChart
    );

    let keyss = [];

    for (let k in buildsByTag) keyss.push(k);

    let dataSetForPolarChart = []

    let colors = []

    for (let i in buildsByTag) {
        dataSetForPolarChart.push(buildsByTag[i].length)
        colors.push('rgb(' + getRandomArbitrary(1, 255) + ', ' + getRandomArbitrary(1, 255) + ', ' + getRandomArbitrary(1, 255) + ')')
    }

    const dataForPolarChart = {
        labels: keyss,
        datasets: [{
            label: 'Build tags',
            data: dataSetForPolarChart,
            backgroundColor: colors
        }]
    };

    const polarConfig = {
        type: 'polarArea',
        data: dataForPolarChart,
        options: {}
    };


    let polarChart = new Chart(
        document.getElementById('polar-chart'),
        polarConfig
    );


    $("#build-filter-apply").click(() => {
        updatePagination(START_PAGE);
    });

    function loadBuilds(displayedPage, pageSize) {
        const filterParams = {
            status: $("#status-filter").find("option:selected").val(),
            tag: $("#tag-filter").find("option:selected").val(),
            buildStartBefore: $("#build-started-before-filter").val(),
            buildStartAfter: $("#build-started-after-filter").val()
        };
        const filterData = {
            page: displayedPage,
            pageSize: pageSize,
            params: filterParams
        };

        $.ajax({
            url: 'http://localhost:8083/build/api/list?repoId=' + repoData.id,
            type: 'POST',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(filterData),
            success: (builds) => {
                if (builds.length === 0 && curBuilds.length === 0) {
                    $("#all-build-container").html(
                        `
                         <div class="alert alert-warning centered" role="alert">
                            <h2>
                                Can't find any builds.<br>
                                Change filter params and try again
                            </h2>
                         </div>
                    `
                    )
                    return;
                }

                if (builds.length === 0) {
                    nextPageAvailable = false;
                    const currentPage = $("#all-build-container-cur-page").text();
                    updatePagination(currentPage - 1);
                } else {
                    nextPageAvailable = true;
                }

                curBuilds = builds.length !== 0 ? builds : curBuilds;

                for (let b in builds) {

                    $("#all-build-container").html(
                        `
                        <div id="repo-container-${builds[b].id}" style="width: 98%; margin: 15px 1% 5px; font-size: 16px;">
                            <div class="card">
                                <div class="card-header">
                                    <a href="${builds[b].link}">
                                        <b>Link to build on GitHub</b>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">${builds[b].name}</h3>
                                    <p class="card-text"><b>Description:</b> ${builds[b].description}</p>
                                    <p class="card-text"><b>Status:</b> ${builds[b].status}</p>
                                    <p class="card-text"><b>Creator:</b> ${builds[b].creator}</p>
                                    <p class="card-text"><b>Started at:</b> ${builds[b].started}</p>
                                    <p class="card-text"><b>Finished at:</b> ${builds[b].finished}</p>
                                    <p class="card-text" id="stages-placeholder-${builds[b].id}">
                                        <b>Stages:</b>
                                    </p>
                                    <p class="card-text" id="tags-placeholder-${builds[b].id}">

                                    </p>
                                </div>
                            </div>
                        </div>
                    `
                    )

                    let s = `<b>Tags:</b>`

                    for (let t in builds[b].tags) {
                        s += `<span class="alert alert-primary" style="width: 20%; padding: 2px; margin: 2.5px">${builds[b].tags[t].name}</span>`
                    }

                    $('#tags-placeholder-' + builds[b].id).append(s)


                    for (let s in builds[b].stages) {
                        let buildStatusClass = "alert-danger"
                        let stageStatus = builds[b].stages[s].status
                        if (stageStatus === "IN_PROGRESS") {
                            buildStatusClass = "alert-warning"
                        } else if (stageStatus === "COMPLETED") {
                            buildStatusClass = "alert-success"
                        }
                        $('#stages-placeholder-' + builds[b].id).append(`
                            <li class="card-text" style="margin: 5px; padding: 1px">${builds[b].stages[s].name} - <span class="alert ${buildStatusClass}" style="width: 20%; padding: 2px; margin: 2px">${builds[b].stages[s].status}</span></li>
                        `)
                    }
                }
            }
        });
    }

    function updatePagination(displayedPage) {
        $("#all-build-container-page-block").html(
            `
              <li class="page-item">
                <a class="page-link" id="all-build-container-page-backward">Previous</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" id="all-build-container-cur-page">${displayedPage}</a>
              </li>
              <li class="page-item">
                <a class="page-link" id="all-build-container-page-forward">Next</a>
              </li>
        `
        );

        loadBuilds(displayedPage, PAGE_SIZE);

        $("#all-build-container-page-backward").click(() => {
            if (displayedPage > 1) {
                displayedPage -= 1;
                updatePagination(displayedPage);
            }
        });

        $("#all-build-container-page-forward").click(() => {
            if (nextPageAvailable) {
                displayedPage += 1;
                updatePagination(displayedPage);
            }
        });
    }

    function showAlert(message, alerttype) {
        $('#alert-placeholder').append('<div id="alertdiv" class="alert ' + alerttype + '"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        setTimeout(function () {
            $("#alertdiv").remove();
        }, 5000)
    }

    function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min
    }


</script>

</body>
</html>